.notification {
  border: 1px solid orange;
  background-color: bisque;
  display: flex;
  width: 200px;
  padding: 1rem;
  font-size: 2rem;
}

body.dark-mode {
  background-color: black;
  color:white;
}